# Server
PORT=3000
NODE_ENV=development

# Database
MONGODB_URL=mongodb://localhost:27017/mba

# Logging
LOG_LEVEL=info

# Auth
JWT_ISSUER=movie-booking-api
JWT_AUDIENCE=movie-booking-app
# Must be at least 20 characters
JWT_ACCESS_SECRET=your-secure-access-secret-min-20-chars
# Must be at least 20 characters
JWT_REFRESH_SECRET=your-secure-refresh-secret-min-20-chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# Security
BCRYPT_SALT_ROUNDS=12
